* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(129, 41, 56); /* Color inicial */
    font-family: Arial, sans-serif;
}

.color-selector {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}

input[type="range"] {
    width: 100%;
    margin-bottom: 10px;
}

p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
